.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: hsl(218deg 50% 91%);
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border: none;
    background: hsl(213deg 85% 97%);
    box-shadow: 0 0 2em hsl(231deg 62% 94%);
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
  }
  
  .login-form h2 {
    margin-bottom: 1rem;
    color: black;
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  
  .form-group {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  #forgot-password{
    margin: 0;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  label {
    margin-bottom: 0.5rem;
    font-size: 1.3rem;
    color: black;
  }
  input {
    padding: 0.8rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    color: hsl(0deg 0% 30%);;
    width: 95%;
  }
  
  #password-btn:hover{
   color: lightcoral;
   cursor: pointer;
  }
  
  button#login-btn {
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    font-size: 1.3rem;
    color: #FFFFFF;
    background-color: hsl(233deg 36% 38%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button#create-account-btn {
    margin-top: 2rem;
    padding: 1rem 2.5rem;
    font-size: 1.3rem;
    color: #FFFFFF;
    background-color: hsl(233deg 36% 38%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
  }
  
  button#login-btn:hover {
    background-color: lightgreen;
  }
  
  button#create-account-btn:hover {
    background-color: lightcoral;
  }
  #forgot-password {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.3s ease;
    color: #000;
  }
  #forgot-password:hover {
    color: red;
  }
  .login-form .form-group:last-child {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
    color: #FFFFFF;
  }
  .login-form .form-group:last-child a {
    color: #4A47A3;
    transition: color 0.3s ease;
  }
  .login-form .form-group:last-child a:hover {
    color: #2B2A67;
  }
  .icon{
    background-image: url("bookimg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  #checkbox {
    transform: scale(1.5);
    cursor: pointer;
     
  }
  .error {
    color: red;
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  